<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }


}
    </style>
</head>
<body>
<input type="checkbox" name="toggle" id="toggle" style="display: none;">
<p style="width: 300px">这是对经济及地方死角地打击是解决的技术的附件四基地发生地方就安静地方客户维护费无法网合肥哈哈哈违反 发安徽分行和红瓦房哈哈我好烦啊分恢复哈无纠纷案和飞机哈哈发</p>
<label for="toggle">显示更多</label>
</body>
</html>