{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/Assets/css/video-js.min.css">
    {#    <script src="/Assets/js/video.min.js"></script>#}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
    <div style="width: 300px;float: left;margin-top: 100px;position: fixed;overflow: hidden">
        <h3 style="margin-left: -120px">最新游戏</h3>
        {% for i in new_game %}
            <div style="margin-left: 30px;text-align: left;margin-top: 30px">
                <img src="{{ MEDIA_URL }}{{ i.img }} " style="width: 160px;height: 120px;display: block">
                <span style="display: block;margin-top: -100px;margin-left: 190px"><a href="/deatil/{{ i.id }}/"
                                                                                      style="color: black">{{ i.name }}</a></span>
                <span style="margin-left: 190px;display: block;margin-top: 20px">发布时间:<br>{{ i.g_time|date:"Y-m-d" }}</span>
            </div>
        {% endfor %}
    </div>
    <div style="width: 300px;right:30px;top: 100px;position: fixed;overflow: hidden">
        <h3 style="margin-left: -120px">人气排行</h3>
        {% for i in hot_game %}
            <div style="margin-left: 30px;text-align: left;margin-top: 30px">
                <img src="{{ MEDIA_URL }}{{ i.img }} " style="width: 160px;height: 100px;display: block">
                <span style="display: block;margin-top: -100px;margin-left: 190px"><a href="/deatil/{{ i.id }}/"
                                                                                      style="color: black">{{ i.name }}</a></span>
                <span style="margin-left: 190px;display: block;margin-top: 20px">发布时间:<br>{{ i.g_time|date:"Y-m-d" }}</span>
            </div>
        {% endfor %}
    </div>
    <div style="width: 80%;margin-top: 200px;float: right">
        {% for i in type %}
            <h2 style="width: 300px;text-align: left;padding-left: 40px;font-weight: bold"> {{ i.type }}</h2>
            <span><a href="/search/?content={{ i.type }}">查看更多</a></span>
            <div style="margin-top: 50px;background-color: white;margin-right:auto;width: 1130px;">
                {% for k,v in game.items %}
                    {% if k == i.type %}
                        {% for j in v %}
                            <div style="padding-top: 20px;float: left;width: 260px;background-color: #f0f0f0;overflow: hidden;
                            margin-right: auto;margin-left:20px;border: solid 1px;border-color: rgb(228,228,228);border-radius: 10px;margin-top: 10px;margin-bottom: 20px">
                                <h3>{{ j.name }}</h3>
                                <span style=""><img src="{{ MEDIA_URL }}{{ j.img }}"
                                                    style="width: 90%;height:300px;margin-top: 10px"></span>
                                <div style="text-align: left;margin-bottom: 15px;margin-top: 10px;">
                                    <span style="margin-left: 20%;font-size: 18px;color: red"> {{ j.like.all|length }}</span>
                                    人喜欢
                                    <a href="/deatil/{{ j.id }}/" style="margin-left: 50px;color: black">游戏详情</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <br style="clear: both">
            </div>

        {% endfor %}
    </div>
    <br style="clear: both">
    <div id="footer">

        <div class="container">
            <hr/>
        </div> <!-- /container -->

    </div> <!-- /footer -->

{% endblock %}